$lg: 1440px;
$lap: 1024px;
$med: 768px;
$md: 575px;
$sm: 414px;

$lgFontSizeDesk: 144px;
$lgFontSizeMob: $lgFontSizeDesk / 2;

$mdFontSizeDesk: 48px;
$mdFontSizeMob: $mdFontSizeDesk / 2;

$smFontSizeDesk: 24px;
$smFontSizeMob: $smFontSizeDesk / 2;

$blueColor: #0366d6;
$whiteColor: #f6f8fa;

@mixin responsiveMin($query) {
  @media (min-width: + $query) {
    @content;
  }
}
