.sidebar {
  min-height: 100%;

  h1 {
    margin: 32px 32px 0 32px;

    @media (max-width: 320px) {
      margin: 0;
      margin-bottom: 24px;
    }
  }

  .card {
    background: transparent;
    border: none;
    margin-top: 25%;

    .card-body {
      text-align: center;
      color: #0366d6;

      @media (max-width: 320px) {
        display: flex;
        padding: 0;
      }
    }

    h5 {
      font-size: 144px;

      @media (max-width: 320px) {
        font-size: 72px;
      }
    }

    img {
      width: 144px;
      margin-top: 70px;

      @media (max-width: 320px) {
        margin-top: 0;
        width: 72px;
      }
    }

    .card-subtitle,
    .card-text {
      font-size: 24px;
      font-weight: 400;
      font-style: normal;

      @media (max-width: 320px) {
        font-size: 12px;
      }
    }

    .card-text {
      margin-top: 11px;
    }

    @media (max-width: 320px) {
      margin: 0;
    }
  }
  @media (max-width: 320px) {
    padding: 16px;
  }
}
