@import "../../design-tokens/scss-variables";

.card-container {
  h1 {
    margin: 0;
    margin-bottom: 24px;
    @include responsiveMin($sm) {
      margin-bottom: 0;
    }
  }

  .card {
    background: transparent;
    border: none;
    margin-top: 0;
    margin: 0;
    @include responsiveMin($med) {
      margin-top: 90px;
    }
    @include responsiveMin($lap) {
      margin-top: 181px;
    }

    .card-body {
      text-align: center;
      color: #0366d6;
      padding: 0;
      display: flex;
      @include responsiveMin(992px) {
        display: initial;
      }
    }

    .image-wrapper {
      height: 84px;

      @include responsiveMin($lap) {
        height: 169px;
        margin-top: 70px;
      }
    }

    img {
      margin-top: 0;
      width: 72px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      @include responsiveMin($lap) {
        width: 144px;
        position: initial;
        top: initial;
        transform: none;
      }
    }

    .card-subtitle,
    .card-text {
      margin-top: 11px;
      font-size: $smFontSizeMob;
      line-height: 21.09px;
      @include responsiveMin($lap) {
        font-size: $smFontSizeDesk;
        line-height: 28.13px;
      }
    }
  }
}
