@import "../design-tokens/scss-variables";

html,
body,
#root {
  height: 100%;
}

body {
  @media (max-width: 969px) {
    height: initial;
    margin: 16px;
  }
}

h1 {
  font-size: $mmdFontSizeMob;
  line-height: 28.13px;
  font-weight: 600;
  font-style: normal;
  @include responsiveMin($mb) {
    font-size: $mmdFontSizeMob;
    line-height: 28.13px;
  }
  @include responsiveMin($lg) {
    font-size: $mmdFontSizeDesk;
    line-height: 56.25px;
  }
}

h5 {
  font-weight: 600;
}

p {
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  line-height: 42.19px;

  @media (max-width: 969px) {
    font-size: 18px;
    line-height: 21.09px;
  }
}

span {
  font-size: 24px;
  font-style: normal;
  line-height: 28.13px;

  @media (max-width: 969px) {
    font-size: 12px;
    line-height: 14.06px;
  }
}
